Repository cyrus01337/next-app-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc

Update lockfile
  bun.lockb
Due: none

Correct Github CLI command
  README.md
Due: prettier --write

Add entry for Husky
  README.md
Due: prettier --write

Simplify pre-commit script
  .husky/pre-commit
Due: none

Apply type-checking per file during pre-commit
  .lintstagedrc
  bun.lockb
  package.json
Due: prettier --write

Include entire src/ directory
  tailwind.config.cjs
Due: prettier --write, eslint

Use TypeScript configuration
  tailwind.config.cjs
  tailwind.config.ts
Due: prettier --write, eslint, tsc

Clarify tsc-files
  README.md
Due: prettier --write

Apply formatting
  tsconfig.json
Due: prettier --write

Remove Github CLI
  .devcontainer/devcontainer.json
Due: prettier --write

Simplify descriptions
  README.md
Due: prettier --write

Simplify Dockerignore
  .dockerignore
Due: none

Sort/Format
  .prettierignore
Due: none

Add pipeline to enforce formatting
  .github/workflows/pipeline.yaml
Due: none

Explicitly define action version
  .github/workflows/pipeline.yaml
Due: none

Try different action
  .github/workflows/pipeline.yaml
Due: none

Set action's full version
  .github/workflows/pipeline.yaml
Due: none

Try yet another
  .github/workflows/pipeline.yaml
Due: none

Setup Bun and install dependencies before running Prettier
  .github/workflows/pipeline.yaml
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.ts) or (any of: *.{js,mjs,cjs})
  tsc: any of: *.ts
