Repository cyrus01337/next-app-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc-files

Always dry run Prettier
  .github/workflows/pipeline.yaml
Due: none

Install only dev dependencies
  .github/workflows/pipeline.yaml
Due: none

Disable Husky in pipeline
  .github/workflows/pipeline.yaml
  .husky/install.js
  package.json
Due: prettier --write, eslint

Bump to new minor version
  package.json
Due: prettier --write

Install dependencies based on specified versions in package.json
  .github/workflows/pipeline.yaml
Due: none

Run with Bun
  .husky/install.js
  package.json
Due: prettier --write, eslint

Add CI env var
  .github/workflows/pipeline.yaml
Due: none

Fallback to installing all dependencies
  .github/workflows/pipeline.yaml
  bun.lockb
Due: none

Rely on HUSKY env var instead
  .github/workflows/pipeline.yaml
  .husky/install.js
Due: prettier --write, eslint

Log when Husky is being skipped
  .husky/install.js
Due: prettier --write, eslint

Extend disable condition
  .husky/install.js
Due: prettier --write, eslint

Compare against string because env vars are never not numbers/strings
  .husky/install.js
Due: prettier --write, eslint

Add lint script to check formatting
  package.json
Due: prettier --write

Include pipeline and formatting lint script
  README.md
Due: prettier --write

Reduce devcontainer image size
  .devcontainer/.p10k.zsh
  .devcontainer/.zshrc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --write

Optimise
  .devcontainer/Dockerfile
Due: none

Cleanup leftover artifacts
  .devcontainer/Dockerfile
Due: none

Ensure Python comes with Node
  Dockerfile
Due: none

Prefer setting user over env var
  Dockerfile
Due: none

Tidy
  Dockerfile
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.ts) or (any of: *.{js,mjs,cjs})
  tsc-files: any of: *.ts
