Repository cyrus01337/next-app-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc-files

Simplify syntax
  Caddyfile
Due: none

Add trailing newline
  docker-compose.yaml
Due: none

Tidy
  Dockerfile
Due: none

Add trailing newline
  .dockerignore
Due: none

Update to latest
  Dockerfile
Due: none

Fix formatting
  docker-compose.yaml
Due: none

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .dockerignore
  .editorconfig
  .eslintrc
  .github/workflows/pipeline.yaml
  .gitignore
  .gitmodules
  .husky/install.js
  .husky/pre-commit
  .lintstagedrc
  .postcssrc.json
  .prettierignore
  .prettierrc
  Caddyfile
  Dockerfile
  LICENSE
  README.md
  bun.lockb
  docker-compose.yaml
  next-env.d.ts
  next.config.js
  package.json
  src/app/api/hello/route.ts
  src/app/icon.png
  src/app/layout.tsx
  src/app/page.tsx
  src/components/.gitkeep
  src/hooks/.gitkeep
  src/public/.gitkeep
  src/server/.gitkeep
  src/shared/.gitkeep
  src/styles/globals.css
  tailwind.config.ts
  tsconfig.json
Due: prettier --write, eslint, tsc-files

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .gitmodules
Due: none

Allow only 1 running job, prioritising latest
  .github/workflows/pipeline.yaml
Due: none

Revise URL
  next-env.d.ts
Due: prettier --write, eslint, tsc-files

Include submodules when checking project out
  .github/workflows/pipeline.yaml
Due: none

Speed up auto-formatting
  bun.lockb
  package.json
Due: prettier --write

Update Next to 15
  bun.lock
  bun.lockb
  package.json
Due: prettier --write

Update React types
  bun.lock
  package.json
  tsconfig.json
Due: prettier --write

Remove default typography plugin
  .eslintrc
  bun.lock
  next-env.d.ts
  package.json
  tailwind.config.ts
Due: prettier --write, eslint, tsc-files

Upgrade Tailwind to v4
  .postcssrc.json
  bun.lock
  package.json
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint, tsc-files

Remove Lodash
  bun.lock
  package.json
Due: prettier --write

Use ESLint over next lint
  .eslintrc
  package.json
Due: prettier --write

Upgrade ESLint to v9
  .eslintrc
  .husky/install.js
  bun.lock
  eslint.config.ts
  index.d.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint, tsc-files

Fix future type errors
  bun.lock
  eslint.config.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint, tsc-files

Prevent TSC build artifacts
  package.json
Due: prettier --write

Expand shorthand variables
  src/app/layout.tsx
Due: none

Disable unused variable warning as TS LSP already handles
  eslint.config.ts
Due: prettier --write, eslint, tsc-files

Disable refs warnings when passing ref as prop (React 19)
  eslint.config.ts
Due: prettier --write, eslint, tsc-files

Lint all TypeScript files
  .lintstagedrc
Due: none

Add oRPC by default
  .prettierrc
  bun.lock
  eslint.config.ts
  package.json
  src/orpc.ts
  src/shared/.gitkeep
  src/shared/router.ts
Due: prettier --write, eslint, tsc-files

Include oRPC in project inclusions
  README.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.ts) or (any of: *.{js,mjs,cjs})
  tsc-files: any of: *.ts
