Repository cyrus01337/next-app-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc-files

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint", "tsc-files"],
    "*.{js,mjs,cjs}": ["prettier --write", "eslint"],
    "*.{json,md}": ["prettier --write"]
}

Migrate components directory to reside within app directory
  src/app/_components/.gitkeep
Due: none

Tidy
  src/app/layout.tsx
Due: none

Simplify lintstagedrc
  .lintstagedrc
Due: none

Sort imports last to ensure application
  .prettierrc
Due: none

Add placeholder type-safe environment handler
  bun.lock
  package.json
  src/environment.ts
  src/server/.gitkeep
  src/server/environment.ts
Due: prettier --write, eslint, tsc-files

Ensure NextJS can see env packages
  next.config.js
Due: prettier --write, eslint

Upgrade to Next 16 + React 19
  bun.lock
  next.config.js
  package.json
  src/environment.ts
  src/server/environment.ts
Due: prettier --write, eslint, tsc-files

Remove --turbo flag
  package.json
Due: prettier --write

Clear screen on lint
  bun.lock
  package.json
Due: prettier --write

Convert layout to function component
  bun.lock
  next-env.d.ts
  package.json
  src/app/layout.tsx
  tsconfig.json
Due: prettier --write, eslint, tsc-files
